* {
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#header, #nav {
    background-color: #252525;
}

.background {
    background-color: #121212;
    color: white;
}

.bgRed {
    background-color: #DC143C;
}

.bgGreen {
    background-color: #228B22;
}

.bgBlue {
    background-color: rgb(64, 119, 221);
}

.bgYellow {
    background-color: #FFD700;
}

.loading {
    animation: glowing 1000ms infinite;
}

@keyframes glowing {
    0% {
        background-color: white;
    }

    50% {
        background-color: rgb(70, 70, 70);
    }

}

/* Buttons */
button {
    background-color: #434343;
    color: white;
}

button.active {
    background-color: white;
    color: black;
}

/* Pages section */
#pages {
    position: absolute;
    width: 100%;
    overflow: auto;
}

page {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#locked {
    text-align: center;
    padding: 50px;
    font-size: 1.2em;
}

/* Header */
#header {
    text-align: left;
    position: absolute;
    width: 100%;
}

#header h1 {
    margin-left: 10px;
    float: left;
}

#header img {
    width: auto;
    margin: 10px;
    float: left;
}

#clockWeather {
    float: right;
    /* height: 80px; */
    margin: 0;
    margin-right: 8px;
    overflow: hidden;

}

/* Navigation menu */

#nav {
    position: fixed;
    z-index: 2;
    width: 100%;
}

#nav p {
    margin: 0;
}

#nav button {
    height: calc(100% - 20px);
    width: 10%;
    margin-left: 5px;
    margin-top: 10px;
    float: left;
    overflow: hidden;
    padding: 0;
}

#nav #lockButton {
    width: 80px;
}

* {
    padding: 0;
    margin: 0;
}

button {
    border: 1px solid transparent;
    border-radius: .75rem;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    transition-duration: background-color 1s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    touch-action: manipulation;
    width: auto;
}


button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.hidden {
    display: none;
}

/** Message **/
#message {
    position: fixed;
    top: 5px;
    left: calc(20% - 5px);
    width: 60%;
    z-index: 10;
    text-align: center;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
}

/** Password **/
#password {
    padding-top: 5vh;
    position: absolute;
    width: 100%;
    height: calc(100% - 5vh);
    z-index: 20;
    text-align: center;
}

#buttonPad {
    margin-left: calc(50% - 108px);
    margin-top: 3vh;
}

#buttonPad button {
    width: 70px;
    height: 70px;
    margin: 2px;
    padding: 0;
}

#checkPassword, #closePassword {
    margin: 10px;
    margin-top: 3vh;
    width: 100px;
    height: 70px;
    padding: 0;
}

#currentPassword {
    font-size: 2em;
    height: 15px;
}

#passwordCorrect, #passwordIncorrect {
    position: absolute;
    top: 20px;
    left: calc(25%);
    width: 50%;
    padding-bottom: 10px;
}

/** Are you sure dialog */
#ask {
    padding-top: 3vw;
    position: absolute;
    width: 100%;
    height: calc(100% - 3vw);
    z-index: 20;
    text-align: center;
}

#ask h1 {
    font-size: 3vw;
}

#ask p {
    font-size: 2vw;
}

#areYouSureDesc {
    margin-bottom: 4vw;
}

#yesButton, #noButton {
    margin-top: 2vw;
    font-size: 3vw;
    width: 30vw;
    height: 15vw;
    margin-right: 1vw;
}

/** Mobile **/

@media only screen and (max-width: 800px) {
    button {
        padding: 2vw 3vw;
    }

    .mobile-hidden {
        display: none;
    }
}

/** Loader **/

#loader {
    position: absolute;
    z-index: 30;
    width: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding-top: 100px;
}

/** From https://loading.io/css/ **/
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}